@charset "utf-8";

$gap: 16px;

@import "bulma/bulma.sass";

body {
	font-family: 'Source Sans Pro', sans-serif;
}

.centered {
	margin-top: -10px;
	vertical-align: middle;
}

.hero {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('../img/background.jpg') !important;
	background-blend-mode: multiply;
}

.pushed {
	margin-right: $gap;
	margin-bottom: $gap;
}

.pushed-horizontal
{
	margin-right: $gap;
}

.is-smooth {
	transition: 0.1s;
}

.is-smoother {
	transition: all 0.5s ease;
}


.input-landing {
	background-color: transparent;
	border: none;
	border-bottom: 2px solid white;
	font-size: 1.75rem;
	color: white;
	font-weight: bold;

	@media screen and (max-width: 768px) {
		width: 100%;
	}
}
.input-landing:focus {
	outline: none;
}

.button {
	i {
		margin-right: 0.5rem;
	}
}

.is-flex-centered {
	vertical-align: middle;
	line-height: 3.25rem;
	text-align: center;
}

.logo-text {
	display: inline-block;
	vertical-align: middle;
}

.is-button {
	color: white;
}
.is-button:hover {
	color: black;
}

.is-unfocused {
	opacity: 0.4;
}

.logo
{
	width: 1.25rem;
	height: 1.25rem;
	fill: $grey-darker;

	&.is-large {
		width: 2.5rem;
		height: 2.5rem;
	}

	&.is-light {
		fill: white;
	}
}
