<!-- Meta information -->
meta(charset='utf-8')
meta(name='viewport', content='width=device-width initial-scale=1 maximum-scale=1 user-scalable=no')
meta(name='description', content='Generalist programmer with an edge for new technology.')
meta(http-equiv="X-UA-Compatible", content="ie=edge")
meta(property='og:type', content='website')
meta(property='og:title', content='Mike Veldsink')
meta(property='og:description', content='Generalist programmer with an edge for new technology!')
meta(name="theme-color" content="#111213")
<!-- Include page setup stuff -->
link(rel='icon', type="image/png", href='../img/favicon.ico')
link(rel='stylesheet', type='text/css', href='../css/style.scss')
